<form name="loginForm" ua-login ng-submit="submitLogin(login)" role="form" novalidate="" 
 ng-init="login = {}">
  <ion-view title="Log In">
    <ion-content>
      <div class="scroll-view">
        <div class="list list-inset">
          <div>
            <span class="input-label">Email</span>
            <div class="item item-input" >
              <input type="email" name="email" ng-model="login.email" required class="form-control" > 
            </div>
            <p style="color:red" ng-show="hasError('email', 'required')">Email is required</p>
          </div>

          <div>
            <span class="input-label">Password</span>
            <div class="item item-input">
              <input type="password" name="password" ng-model="login.password" required class="form-control">
            </div>
             <p style="color:red" ng-show="hasError('password', 'required')">Password is required</p>
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">
            <span ng-show="!loading">Log In</span>
            <i ng-show="loading" class="ion-loading-b"></i>
          </button>
          <p class="text-center">
            <a href="#/signup">Sign Up</a>
          </p>
        </div>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>