<div class="padding" style="text-align: center;">
    <button ng-click="authenticate(facebook)" class="button button-block button-positive icon-left ion-social-facebook" ua-oauth-link="facebook" style="background: #4c66a4;">
      <span ng-show="!loading">Log in with Facebook</span>
      <i ng-show="loading" class="ion-loading-b"></i>
    </button>
    <!-- <span class="icon-left ion-social-facebook" ua-oauth-link="facebook" style="background: #4c66a4; ">
    </span>
    <span ng-show="!loading" class="facebook-title">Log in with Facebook</span> -->
    <!-- <i ng-show="loading" class="ion-loading-b"></i> -->
</div>