<ion-modal-view class="modal-temp">
	<ion-header-bar class="bar bar-header bar-positive" style="background-color: #fb2e00;">
	 	<h1 class="title">Join</h1>
  	<button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
 	</ion-header-bar>
 	<ion-content class="ionic-content">
		<div class="list">
			<div class="padding modal-pane">
			  <button class="button button-block button-positive button-color-cust modal-button" ng-click="join_center()">Submit</button>
		  </div>
		</div>
	</ion-content>
</ion-modal-view>